<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../paper-styles/paper-styles.html">
<link rel="import" href="../pw-form/pw-form.html">
<link rel="import" href="../pw-list/pw-list.html">

<dom-module id="pw-contacts">
  <template>
    <style>
      :host {
        display: block;
        --bg-black: black;
        --mi-primer-css-mixin: {
            background-color : blue;
            color: var(--black);
            border: var(--border-default);
        };
      }

      div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        /*background-color: var(--google-blue-500);*/
        /*background-color: var(--bg-black);*/
      }

      .flex-horizontal {
          @apply(--layout-horizontal);
          @apply(--layout-center-justified);
      }

      .flex-vertical {
          @apply(--layout-vertical);
          @apply(--layout-center);
      }

      paper-button.grey{
        color:white;
        background-color: var(--paper-grey-a200);
      }
      paper-button.indigo{
        color:white;
        background-color: var(--paper-indigo-500);
        
        @apply --mi-primer-css-mixin;
      }
    </style>
    <h2>Contacto</h2>
    <div>
       <paper-input label="Nombre" always-float-label value="{{name}}" on-value-changed="handler" style="width: 260px;"></paper-input>[[name]]
       <paper-input always-float-label label="Email" value="{{email}}" style="width: 260px;"></paper-input>[[email]]
     </div>
     <div>
        <paper-input always-float-label label="Telefono" value="{{telefono}}" style="width: 260px;"></paper-input>[[telefono]]
        <table>
          <tr><td class="flex-vertical" style="padding-right: 150px"><paper-radio-button checked>H</paper-radio-button></td></tr>
          <tr><td class="flex-vertical" style="padding-right: 150px"><paper-radio-button >M</paper-radio-button></td></tr>
        </table>
     </div>
     <p style="height: 20px"></p>
     <div class="flex-vertical">
        <div class="flex-horizontal">
          <paper-button toggles raised class="indigo">Aceptar</paper-button>
          <paper-button toggles raised class="indigo">Cancelar</paper-button>
        </div>
     </div>
     <p style="height: 20px"></p>
        <pw-form on-pw-new-item="newItemHandler"></pw-form>
        <pw-list on-pw-old-item="_deleteItemHandler" 
        elementos="[[items]]" 
        on-pw-item-edit="_editHandler">
        </pw-list>
  </template>

  <script>
    /**
     * `pw-contacts`
     * nuevo forma
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwContacts extends Polymer.Element {
      static get is() { return 'pw-contacts'; }
      static get properties() {
        return {
          name: {
            type: String,
            notify: true
          },
          email: {
            type: String,
            notify: true
          },
          telefono: {
            type: String,
            notify: true
          },
          items: {
            type: Array 
          }
        };
      }

      newItemHandler(e){
         //this.items.push({value: e.detail, done: false}) esto es para javascript
         //items.elementos  es una propiedad de array dentro de un array
         this.push('items',{value: e.detail, done: false});
       }

      _deleteItemHandler(e){
         console.log(e);
         const index = this.items.findIndex((currentitem)=>{
           return currentitem.value === e.detail;
         });
         this.splice('items',index,1);
       }


      _editHandler(e){
         const newItems=this.items.map(function(item){
            if(item.value === e.detail.preValue){
              return {value: e.detail.newValue, done: item.done};
            }
            return { ...item };
         });
         this.items= newItems;
       }
    }

    window.customElements.define(PwContacts.is, PwContacts);
  </script>
</dom-module>
